.bg-color{
  
    background-color: rgb(232, 245, 248);
    min-height: 80px;
}

.icondiv img{
    font-size: 60px;
    color: rgb(11, 151, 198);
    padding-top: 2rem;
   
}
.info-icons{
    color: rgb(11, 151, 198);
    font-size: 60px;
    padding-top: 20px;
}

.icon{
    position: absolute;
    top: 20px;
    left:20px;
}

.cut-icon{
    font-size: 20px;
    float: right;
    padding: 1rem;
}

 .common-heading{
   
    padding-top: 40px;
    
   
} 

.learn-more:hover{
    color:rgb(11, 151, 198);
    cursor: pointer;
    }

.fa-arrow-alt-circle-right{
  
    color:rgb(11, 151, 198);
}

.fa-arrow-alt-circle-right:hover{
    color:rgb(9, 67, 87);
    cursor: pointer;
}

.fa-virus{
    font-size: 60px;
    color: rgb(11, 151, 198);
    padding-top: 1.5 rem;
}



.bg-color{
  
   
    background-color: rgb(232, 245, 248);
 width:100%;

}
.hero-section{
        background-color: rgb(232, 245, 248);
        width:100%;
     
}

.girl-image{
        margin-right: 4px;
        margin-block: 12px;
}

.info-icons{
        padding-top: 14px;
        padding-left: 40px;
        color:rgb(11, 151, 198);
        font-size: 90px;
}


#parent{
    background-color: rgb(11, 151, 198);;
    position:relative;
}




  .bg-color{
  
    background-color: rgb(232, 245, 248);
    min-height: 80px;
}

.fa-virus{
    font-size: 60px;
    color: rgb(11, 151, 198);
    padding-top: 2rem;
}
.info-icons{
    display: flex;
    color: rgb(11, 151, 198);
    font-size: 140px;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: flex-start;
}

.icon{
    position: absolute;
    top: 20px;
    left:20px;
}

.cut-icon{
    font-size: 20px;
    float: right;
    padding: 1rem;
}

 .common-heading{
   
    padding-top: 40px;
    
   
} 

.learn-more:hover{
    color:rgb(11, 151, 198);
    cursor: pointer;
    }

    .fa-xmark:hover{
        cursor:pointer;
    }

.modal-dialog{
    height: 100%;
    border-radius: 15px;
    background-color:  rgb(252, 254, 255);
    border: none;

}

.question .hi{
    display: none;
}
.question .active{
    display: block;
}


.question .row .img-fluid {
    max-width: 80%;
    height: auto;
    padding-top: 10px;
}